* {
    padding: 0;
    margin: 0;
}

body {
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27AE60;
}

body h1 {
    color: #FDFEFE;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 36px;
    font-weight: 800;

}